.lab4 {
  display: flex;
  flex-direction: column;
  column-gap: 30px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
  }
}

.wrapper {
  padding: 20px 10px 20px 10px;
  position: relative;
  width: 700px;
  height: 700px;
  border: solid 1px #333;
  border-radius: 10px;
  width: 100%;

  &__chart {
    width: 700px;
    height: 600px;
    position: absolute;
    // left: -40vh;
  }
}

.azs {
  display: flex;
  height: 70%;
  align-items: center;
  column-gap: 10px;
  justify-content: center;

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

  }

  &__station {
    width: 130px;
    height: 120px;
    // background-color: black;
    background-image: url('./station.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  &__car {
    width: 80px;
    height: 80px;
    // background-color: orange;

    &[data-visible='false'] {
      visibility: hidden;
    }
  }
}